.register {
	width: 100%;
	padding: 1rem;
	height: 100vh;
	background-color: #333;
	color: #333;
	font-family: "Oswald", sans-serif;

	header {
		height: 60px;
		background-color: #00e1ff;
		display: flex;
		align-items: center;
	}
	a {
		padding-left: 1rem;
		font-size: 1.5rem;
		&:hover {
			color: #fff;
		}
	}
	.register-form {
		color: #333;
		background-color: #00e1ff;
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 60%;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		padding: 1rem;
		margin: 0 auto;

		h2 {
			color: #333;
			font-size: 3rem;
		}
		form {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			width: 100%;
			align-items: center;

			input {
				border: none;
				border-radius: 4px;
				width: 60%;
				outline: black;
				padding: 0.5rem;
				margin: 0.5rem;
			}
			button {
				border: none;
				border-radius: 4px;
				padding: 0.5rem 1rem;
				font-size: 1rem;
				background-color: #fff;
				&:hover {
					cursor: pointer;
					background-color: rgb(243, 243, 243);
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.register .register-form {
		width: 100%;

		form {
			height: 60%;
		}
	}
	.register .register-form h2 {
		font-size: 2rem;
	}
}
