.Hero {
	height: 80vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
// .video {
// 	width: 100vw;
// 	height: auto;
// }
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.384);
}

.cta_box {
	font-family: "Oswald", sans-serif;
	width: 60%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 7;
	color: #fff;

	h1 {
		font-size: 8rem;
		line-height: 11rem;
	}

	p {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	a {
		color: #333;

		border: none;
		border-radius: 4px;
		padding: 0.1rem 1.2rem;
		font-size: 1.8rem;
		background-color: #00e1ff;
		border: 2px solid #00e1ff;
		margin-right: 1rem;
		&:hover {
			cursor: pointer;
			color: #fff;
			background-color: #00e1ff;
		}
	}
	.secondary-btn {
		background-color: transparent;
		color: #fff;
		border: 2px solid #fff;

		&:hover {
			border: 2px solid #00e1ff;
		}
	}
}
