.cart {
	margin: 2rem auto;
	min-height: 90vh;
	font-family: "Oswald", sans-serif;

	h2 {
		margin-left: 2rem;
		font-size: 2rem;
	}
}

.checkoutBox {
	display: flex;
	justify-content: center;
	font-family: "Oswald", sans-serif;
	color: #333;
	margin: 2rem auto;
	width: 85%;
}

.itemBox {
	display: flex;
	flex-direction: column;
	width: 55%;
	background-color: rgb(243, 243, 243);
	padding: 1rem;
}

.subtotalBox {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: #00e1ff;

	button {
		border: none;
		padding: 0.5rem;
		border-radius: 4px;
		background-color: #fff;

		&:hover {
			cursor: pointer;
			background-color: rgb(245, 245, 245);
		}
	}

	div {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
}
