.scrollOver {
	height: 500px;
	width: 100%;
	background: url("../../assets/dive.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Oswald", sans-serif;

	.heading {
		color: #fff;
		font-size: 9rem;
		font-weight: 700;
	}
}
