.shop-hero {
	height: 80vh;
	width: 70%;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.623)),
		url("../../assets/joshpicc.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	border-radius: 4px;

	h2 {
		font-size: 5rem;
		color: #fff;
		font-family: "Oswald", sans-serif;
		text-shadow: 2px 2px 3px #000;
	}
}
.store-boxes {
	display: flex;

	width: 70%;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	text-align: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	:nth-child(1) {
		width: 70%;
		height: 600px;
		overflow: hidden;
		position: relative;
		h3 {
			font-size: 2rem;
			z-index: 2;
		}

		img {
			// position: absolute;
			// top: 0;
			// left: 25%;
			// right: 0;
			// bottom: 0;
			height: 100%;

			transition: transform 1.9s;
			&:hover {
				transform: scale(1.15);
			}
		}
	}
	:nth-child(2) {
		width: 70%;
		height: 600px;
		overflow: hidden;
		position: relative;
		h3 {
			font-size: 2rem;
			z-index: 2;
		}

		img {
			// position: absolute;
			// top: 0;
			// left: 15%;
			// right: 0;
			// bottom: 0;
			height: 100%;

			transition: transform 1.9s;
			&:hover {
				transform: scale(1.25);
			}
		}
	}
}
