.shop-hero {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.623)),
		url("../../assets/joshpicc.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	h2 {
		font-size: 5rem;
		color: #fff;
		font-family: "Oswald", sans-serif;
		text-shadow: 2px 2px 3px #000;
	}
}
.store-boxes {
	display: flex;

	width: 70%;
	margin: 2rem auto;
	justify-content: center;
	align-items: center;
	text-align: center;

	a {
		display: flex;

		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	:nth-child(1) {
		position: relative;
		width: 90%;
		height: 600px;
		overflow: hidden;
		position: relative;
		&:hover img {
			transform: scale(1.25);
		}
		h3 {
			font-size: 3rem;
			z-index: 2;
			position: absolute;
			top: 40%;
			height: 10%;
			color: #fff;
			padding: 0;
			margin: 0;
			font-family: "Oswald", sans-serif;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
		}

		img {
			height: 100%;
			transition: transform 1.9s;
		}
	}
	:nth-child(2) {
		position: relative;
		width: 90%;
		height: 600px;
		overflow: hidden;
		position: relative;

		&:hover img {
			transform: scale(1.25);
		}
		h3 {
			font-size: 3rem;
			z-index: 2;
			position: absolute;
			top: 40%;
			height: 10%;
			color: #fff;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);

			padding: 0;
			margin: 0;
			font-family: "Oswald", sans-serif;
		}

		img {
			height: 100%;
			transition: transform 1.9s;
		}
	}
}
