.email {
	background-color: #00e1ff;
	color: #fff;
	font-family: "Oswald", sans-serif;
}

.email-container {
	display: flex;
	margin: 0 auto;
	width: 70%;
	justify-content: space-between;
	align-items: center;
}

.email-text {
	font-size: 1.5em;
	font-weight: 400;

	span {
		color: #535353;
	}
}

.form-box {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;

	input[type="email"] {
		border-radius: 2px;
		border: none;
		margin-right: 2em;
		padding: 0.3em;
		width: 100%;
		font-size: 1rem;
	}

	input[type="submit"] {
		border: none;
		background-color: #00e1ff;
		border-radius: 2px;
		color: #fff;
		padding: 1em 1em;
		font-size: 1rem;
		font-weight: 700;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		&:hover {
			background-color: darken($color: #00e1ff, $amount: 14%);
			cursor: pointer;
		}
	}
}
